@import 'src/styles/variables';

.location {
    padding: 0 2rem;
    padding-bottom: 3rem;
    box-sizing: border-box;

    &__title {
        font-size: 24px;
        margin-bottom: 1rem;
        font-family: $font-primary;
        color: $color-text-primary;
        font-weight: 400;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 1rem;
        font-family: $font-tertiary;
        color: $color-text-subtitle;
        font-weight: 500;
    }

    &__form-container {
        margin-bottom: 2rem;
    }

    &__table-container {
        margin-bottom: 3rem;
    }

    @media (min-width: 768px) {
        padding: 1rem 2rem;
        padding-bottom: 3rem;

        &__table-container {
            margin-bottom: 5rem;
        }
    }
}
