<section class="location">
    <h1 class="location__title" *ngIf="isAdmin">Crear ubicación</h1>
    <div class="location__form-container">
        <app-create-location-form *ngIf="isAdmin" (created)="refreshLocations()"></app-create-location-form>
    </div>

    <h2 class="location__subtitle">Buscar ubicaciones</h2>
    <div class="location__search-container">
        <app-input-text [placeholder]="'Buscar ubicación'" [control]="searchControl"
            [required]="false">
        </app-input-text>
    </div>

    <h2 class="location__subtitle">Resultados Ordenables por Ciudad o Departamento</h2>
    <ng-container *ngIf="locations$ | async as locations">
        <div class="location__table-container">
            <app-list-table
                [data]="locations?.content || []"
                [columns]="locationTableColumns"
                [noDataMessage]="'No se encontraron ubicaciones.'"
                [sortBy]="sortBy"
                [sortDirection]="sortDirection"
                (sortChange)="onSortChange($event)">
            </app-list-table>
        </div>

        <app-pagination
            [currentPage]="locations?.currentPage || 0"
            [totalPages]="locations?.totalPages || 0"
            (pageChange)="onPageChange($event)">
        </app-pagination>
    </ng-container>
</section>
