<div class="input-text">
  <label class="input-text__label" [for]="inputId">
    {{ label }} <span class="input-text__required">*</span>
  </label>
  <input
    class="input-text__field"
    [ngClass]="{ 'input-text__field--error': control.invalid && (control.touched || control.dirty) }"
    [formControl]="control"
    [placeholder]="placeholder"
    [id]="inputId"
    [maxlength]="51"
  />
  <span class="input-text__error" [style.visibility]="control.invalid && (control.touched || control.dirty) ? 'visible' : 'hidden'">
    {{ getErrorMessage() }}
  </span>
</div>
