<div class="input-text">
  <label class="input-text__label" [for]="inputId">
    {{ label }} <span class="input-text__required">*</span>
  </label>
  <input
    class="input-text__field"
    [ngClass]="{ 'input-text__field--error': control.invalid && control.touched }"
    [formControl]="control"
    [placeholder]="placeholder"
    [id]="inputId"
    type="text"
  />
  <span class="input-text__error" [style.visibility]="control.invalid && control.touched ? 'visible' : 'hidden'">
    {{ getErrorMessage() }}
  </span>
</div>
