<div class="input-text">
  <label class="input-text__label" [for]="inputId">
    {{ label }} <span *ngIf="required" class="input-text__required">*</span>
  </label>
  <input
    class="input-text__field"
    [ngClass]="{ 'input-text__field--error': control.invalid && (control.touched || control.dirty) }"
    [formControl]="control"
    [placeholder]="placeholder"
    [id]="inputId"
  />
  <span
    class="input-text__error"
    [ngClass]="{ 'input-text__error--visible': control.invalid && (control.touched || control.dirty) }"
  >
    {{ getErrorMessage() }}
  </span>
</div>
