<footer class="footer">
    <div class="footer__container">
        <section class="footer__column">
            <h2 class="footer__logo">Hogar360</h2>
            <p class="footer__description">Tu partner en la búsqueda del espacio perfecto.</p>
        </section>

        <section class="footer__column">
            <app-footer-section [title]="'Acceso rápido'" [items]="quickLinks">
            </app-footer-section>
        </section>

        <section class="footer__column">
            <app-footer-section [title]="'Contáctanos'" [items]="contactInfo">
            </app-footer-section>
        </section>

        <section class="footer__column">
            <app-footer-section [title]="'Síguenos'" [items]="socialLinks">
            </app-footer-section>
        </section>
    </div>

    <div class="footer__bottom">
        © 2025 Hogar360. All rights reserved.
    </div>
</footer>