<div class="input-text">
  <label class="input-text__label" [for]="generatedId">
    {{ label }} <span class="input-text__required">*</span>
  </label>

  <div class="input-text__field-wrapper">
    <input
      [id]="generatedId"
      class="input-text__field"
      [ngClass]="{ 'input-text__field--error': control.invalid && (control.touched || control.dirty) }"
      [matDatepicker]="picker"
      [formControl]="control"
      [placeholder]="placeholder || 'DD/MM/AA'"
      readonly
      (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>

  <span
    class="input-text__error"
    [ngClass]="{ 'input-text__error--visible': control.invalid && (control.touched || control.dirty) }"
  >
    {{ getErrorMessage() }}
  </span>
</div>
