<form class="create-location-form" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <app-select
        [label]="'Departamento'"
        [options]="departmentOptions"
        [control]="locationForm.controls.department">
    </app-select>

    <app-select
        [label]="'Ciudad'"
        [options]="cityOptions"
        [control]="locationForm.controls.city">
    </app-select>

    <app-input-text
        [label]="'Sector'"
        [placeholder]="'Ej: Barrio La Candelaria (máximo 50 caracteres)'"
        [control]="locationForm.controls.sector">
    </app-input-text>

    <div class="form-actions">
        <app-button label="Crear" type="submit"></app-button>
    </div>
</form>