.textarea {
  display: flex;
  flex-direction: column;
  margin-right: 16px;

  &__label {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #374151;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }

  &__required {
    color: #EF4444;
    margin-left: 4px;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__field {
    width: 100%;
    height: 90px;
    padding: 8px;
    padding-top: 16px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    background-color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    color: #374151;
    resize: none;

    &::placeholder {
      color: #ADAEBC;
      font-size: 12px;
      font-family: 'Manrope', sans-serif;
    }
  }

  &__counter {
    position: absolute;
    bottom: 6px;
    right: -6px;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    pointer-events: none;
    color: #6B7280;
  }

  &__current {
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    position: relative;
    top: -1px;
  }

  &__max {
    width: 20px;
    height: 16px;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    position: relative;
    top: 1px;
  }

  &__error {
    color: #EF4444;
    font-size: 10px;
    margin-top: 4px;
    min-height: 14px;
    visibility: hidden;
  }

  &__field--error {
    border-color: #EF4444;
  }

}

@media (min-width: 768px) {
  .textarea {
    margin-bottom: 20px;
  }

  .textarea__label {
    font-size: 13px;
    line-height: 18px;
  }

  .textarea__field {
    height: 100px;
    padding: 9px;
    font-size: 13px;
  }

  .textarea__counter {
    font-size: 13px;
  }

  .textarea__current {
    font-size: 13px;
  }

  .textarea__max {
    font-size: 13px;
  }

  .textarea__error {
    font-size: 11px;
  }
}

@media (min-width: 1024px) {
  .textarea {
    margin-bottom: 24px;
  }

  .textarea__label {
    font-size: 14px;
    line-height: 20px;
  }

  .textarea__field {
    height: 114px;
    padding: 10px;
    font-size: 14px;
  }

  .textarea__counter {
    font-size: 14px;
  }

  .textarea__current {
    font-size: 14px;
  }

  .textarea__max {
    font-size: 14px;
  }

  .textarea__error {
    font-size: 12px;
  }
}
