<div class="select">
    <label
    *ngIf="label || showLabelSpace"
    class="select__label"
    [class.select__label--hidden]="!label && showLabelSpace"
    [for]="selectId">
        {{ label }} <span *ngIf="required" class="select__required">*</span>
    </label>

    <select [formControl]="control" class="select__field"
        [ngClass]="{ 'select__field--error': control.invalid && (control.touched || control.dirty) }" [id]="selectId">
        <option [ngValue]="null" disabled selected>Seleccione una opción</option>
        <option *ngFor="let option of options" [ngValue]="option.value">
            {{ option.label }}
        </option>
    </select>

    <span class="select__error" [ngClass]="{
        'select__error--visible': control.invalid && (control.touched || control.dirty),
        'select__error--hidden': !showErrorSpace && !(control.invalid && (control.touched || control.dirty))
    }">
        {{ getErrorMessage() }}
    </span>
</div>