@import 'src/styles/variables';

.home__layout {
    height: calc(100vh - 57px);
    overflow-y: auto;
    background-color: $color-background-body;
}

.home__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.home__cards {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.home__filters {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
}
