<section class="category">
    <h1 class="category__title" *ngIf="isAdmin">Crear categoría</h1>

    <div class="category__form-container"  *ngIf="isAdmin">
        <app-create-category-form (created)="refreshCategories()">
        </app-create-category-form>
    </div>

    <h1 class="category__subtitle">Categorías existentes</h1>

    <ng-container *ngIf="categories$ | async as categories">
        <div class="category__table-container">
            <app-list-table [data]="categories?.content || []" [columns]="categoryTableColumns"
                [noDataMessage]="'No se encontraron categorías.'">
            </app-list-table>
        </div>

        <app-pagination [currentPage]="categories?.currentPage || 0"
            [totalPages]="categories?.totalPages || 0" (pageChange)="onPageChange($event)">
        </app-pagination>
    </ng-container>
</section>
