<section class="category" *ngIf="categories$ | async as categories">
    <h1 class="category__title">Crear Categoría</h1>

    <div class="category__form-container">
        <app-create-category-form (created)="refreshCategories()">
        </app-create-category-form>
    </div>

    <h1 class="category__subtitle">Categorías Existentes</h1>

    <div class="category__table-container">
        <app-list-table [data]="categories?.content || []" [columns]="categoryTableColumns"
            [noDataMessage]="'No se encontraron categorías.'">
        </app-list-table>
    </div>

    <app-pagination [currentPage]="categories?.currentPage || 0"
        [totalPages]="categories?.totalPages || 0" (pageChange)="onPageChange($event)">
    </app-pagination>
</section>