<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__menu">
      <li class="sidebar__item" routerLinkActive="sidebar__item--active">
        <a routerLink="/dashboard" class="sidebar__link">
          <fa-icon [icon]="dashboardIcon" class="sidebar__icon"></fa-icon>
          Dashboard
        </a>
      </li>
      <li class="sidebar__item" routerLinkActive="sidebar__item--active">
        <a routerLink="/categories" class="sidebar__link">
          <fa-icon [icon]="categoriesIcon" class="sidebar__icon"></fa-icon>
          Categorías
        </a>
      </li>
      <li class="sidebar__item" routerLinkActive="sidebar__item--active">
        <a routerLink="/houses" class="sidebar__link">
          <fa-icon [icon]="locationsIcon" class="sidebar__icon"></fa-icon>
          Propiedades
        </a>
      </li>
      <li class="sidebar__item" routerLinkActive="sidebar__item--active">
        <a routerLink="/users" class="sidebar__link">
          <fa-icon [icon]="usersIcon" class="sidebar__icon"></fa-icon>
          Usuarios
        </a>
      </li>
      <li class="sidebar__item" routerLinkActive="sidebar__item--active">
        <a routerLink="/configuration" class="sidebar__link">
          <fa-icon [icon]="settingsIcon" class="sidebar__icon"></fa-icon>
          Configuración
        </a>
      </li>
    </ul>
  </nav>
</aside>
