<table class="categories-table">
    <thead class="categories-table__head">
        <tr class="categories-table__row">
            <th class="categories-table__header">ID</th>
            <th class="categories-table__header">Nombre</th>
            <th class="categories-table__header">Descripción</th>
        </tr>
    </thead>
    <tbody class="categories-table__body">
        <tr *ngFor="let category of categories" class="categories-table__row">
            <td class="categories-table__cell categories-table__cell--id">{{ category.id }}</td>
            <td class="categories-table__cell categories-table__cell--name">{{ category.name }}</td>
            <td class="categories-table__cell categories-table__cell--description">{{ category.description }}</td>
        </tr>
    </tbody>
</table>